@import "antd/dist/antd.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* login css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.login-card {
  width: 420px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.center {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 3rem;
}

.welcome-text {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

/* register css */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.register-card {
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.register-link {
  text-align: center;
  margin: 15px 0;
}

/* admin-users */
.admin-users {
  margin-top: 2rem;
  padding: 4rem;
}

.admin-notes {
  padding: 0 20px 30px;
  margin-top: 5rem;
}

.adm-usr_nt {
  width: 100%;
  overflow-x: auto;
  /* height: 500px; */
  margin-top: 5rem;
}

/* reset pass */
.reset-container {
  height: 100vh;
  padding: 20px;
}

.reset-card {
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  .admin-users {
    padding: 2rem;
  }
}
